.logo {
	position: relative;
}
.sk {
	position: absolute;
	top: 40px;
	left: 185px;
	height: 32px;
	border-left: 1px solid #B1191A;
	padding: 5px 0 0 15px;
}
.nav_l li {
	float: left;
	margin: 0 30px;
	line-height: 45px;
}
.nav_l li a {
	font-size: 16px;
	font-weight: 700;
	color: #000;
}
.nav_r li {
	float: left;
	line-height: 43px;
}
.nav_r li a {
	margin: 0 20px;
	font-size: 14px;
	font-weight: 700;
}
.nav_r i {
	font-size: 14px;
}
.main_bd {
	margin-top: 25px;
}
.main_bd li {
	float: left;
	width: 288px;
	height: 458px;
	border: 1px solid transparent;
}
.main_bd li:hover {
	border: 1px solid #E12228;
}
.main_bd p {
	padding: 10px 10px 0; 
}
.main_bd li a {
	font-size: 14px;
}
.main_bd em {
	font-style: normal;
	font-size: 22px;
	color: #E60012;
}
.main_bd del {
	font-size: 14px;
	font-weight: 700;
	color: #A4A4A4;
}
.main_bd .progress {
	padding: 8px;
	font-size: 12px;
	color: #666;
}
.bar {
	display: inline-block;
	width: 130px;
	height: 10px;
	margin: 0 5px;
	border: 1px solid #B1191A;
	border-radius: 5px;
}
.bar_in {
	height: 10px;
	width: 87%;
	background-color: #F24349;
}
.buy {
	height: 50px;
	background-color: #B1191A;
	text-align: center;
}
.main_bd .buy a {
	display: block;
	line-height: 50px;
	font-size: 20px;
	color: #fff;
}
.main_bd .buy a:hover {
	color: #E33333;
}
.main_bd ul {
	width: 1212px;
}
.main_bd li {
	margin: 0 12px 15px 0;
}
.progress em {
	color: #F24349;
	font-size: 12px;
}
.progress i {
	font-size: 12px;
	color: #F24349;	
}
.page {
	margin: 40px 0;
	text-align: center;
}
.page_num a {
	display: inline-block;
	width: 36px;
	height: 36px;
	line-height: 36px;
	border: 1px solid #ccc;
	background-color: #F7F7F7;
	font-size: 12px;
}
.page_num .pn_prev,
.page_num .pn_next {
	width: 83px;
}
.page_num .current {
	border: 1px solid transparent;
	background-color: #fff;
}
.page_skip {
	font-size: 12px;
	color: #666;
}
.page_skip input {
	width: 36px;
	height: 36px;
	border: 1px solid #ccc;
	outline: none;
	text-align: center;
	transition: all .3s;
}
.page_skip input:focus {
	width: 80px;
	border: 1px solid skyblue;
}
.page_skip button {
	width: 54px;
	height: 36px;
	background-color: #F7F7F7;
	font-size: 12px;
	color: #000;
	outline: none;
	border: 1px solid #ccc;
	cursor: pointer;
}
/*分页page: margin: 40px 0; page_num: width: 36px;height: 36px;上一页pn_prev/下一页pn_next：width: 83px;*/
/*page_skip: input: width: 36px;height: 36px;button: width: 54px;height: 36px;*/